In [14]:
! wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2025-03-07 15:34:32--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
20.201.28.151, 205.251.194.8, 205.251.193.165, ...
connected. to github.com (github.com)|20.201.28.151|:443...
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250307%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250307T183432Z&X-Amz-Expires=300&X-Amz-Signature=7d53354f786712cf5802ce890e8407c717f2db286026364ded6ad706fd4a21fb&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-03-07 15:34:32--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250307%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250307T183432Z&X-Amz-Expires=300&X-Amz-Signature=7d53354f786712cf5802ce890e8407c717f2db286026364ded6ad706fd4a21fb&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
connected. to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443...
200 OKequest sent, awaiting response...
Length: 11099245 (11M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-01.csv.gz’

green_tripdata_2019 100%[===================>]  10.58M  9.34MB/s    in 1.1s

2025-03-07 15:34:34 (9.34 MB/s) - ‘green_tripdata_2019-01.csv.gz’ saved [11099245/11099245]

In [22]:
!ls

Homework5.ipynb  green_tripdata_2019-01.csv

In [21]:
!gunzip green_tripdata_2019-01.csv.gz

In [47]:
df_taxis = spark.read.csv("green_tripdata_2019-01.csv", header=True, inferSchema=True)

In [1]:
! rm green_tripdata_2019-01.csv

In [48]:
df_taxis.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: string (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [49]:
from pyspark.sql.functions import to_timestamp, col, when, year, month, dayofweek, unix_timestamp

# Convertimos las columnas de fecha y hora a timestamps
df_taxis = df_taxis.withColumn("pickup_datetime_ts", to_timestamp(col("lpep_pickup_datetime"))) \
                   .withColumn("dropoff_datetime_ts", to_timestamp(col("lpep_dropoff_datetime")))

# Creamos una columna con la duración del viaje en minutos
df_taxis = df_taxis.withColumn("duracion_viaje_minutos", 
                             (unix_timestamp(col("dropoff_datetime_ts")) - unix_timestamp(col("pickup_datetime_ts"))) / 60)

# Añadimos columnas con el año, mes y día de la semana del viaje
df_taxis = df_taxis.withColumn("anho", year(col("pickup_datetime_ts"))) \
                   .withColumn("mes", month(col("pickup_datetime_ts"))) \
                   .withColumn("dia_semana", dayofweek(col("pickup_datetime_ts")))

# Filtramos los viajes que duraron más de una hora
df_taxis_largos = df_taxis.filter(col("duracion_viaje_minutos") > 60)

# Creamos una columna que clasifica los viajes según la hora del día
df_taxis = df_taxis.withColumn("hora_dia", 
                             when((col("pickup_datetime_ts").between("06:00:00", "11:59:59")), "mañana")
                             .when((col("pickup_datetime_ts").between("12:00:00", "17:59:59")), "tarde")
                             .when((col("pickup_datetime_ts").between("18:00:00", "23:59:59")), "noche")
                             .otherwise("madrugada"))

In [50]:
df_taxis \
.select(col("pickup_datetime_ts"), col("dropoff_datetime_ts"), col("duracion_viaje_minutos"), col("anho"), col("mes"), col("dia_semana"), col("hora_dia")) \
.show(10)

+-------------------+-------------------+----------------------+----+---+----------+---------+
| pickup_datetime_ts|dropoff_datetime_ts|duracion_viaje_minutos|anho|mes|dia_semana| hora_dia|
+-------------------+-------------------+----------------------+----+---+----------+---------+
|2018-12-21 15:17:29|2018-12-21 15:18:57|    1.4666666666666666|2018| 12|         6|madrugada|
|2019-01-01 00:10:16|2019-01-01 00:16:32|     6.266666666666667|2019|  1|         3|madrugada|
|2019-01-01 00:27:11|2019-01-01 00:31:38|                  4.45|2019|  1|         3|madrugada|
|2019-01-01 00:46:20|2019-01-01 01:04:54|    18.566666666666666|2019|  1|         3|madrugada|
|2019-01-01 00:19:06|2019-01-01 00:39:43|    20.616666666666667|2019|  1|         3|madrugada|
|2019-01-01 00:12:35|2019-01-01 00:19:09|     6.566666666666666|2019|  1|         3|madrugada|
|2019-01-01 00:47:55|2019-01-01 01:00:01|                  12.1|2019|  1|         3|madrugada|
|2019-01-01 00:12:47|2019-01-01 00:30:50|                 18.05|2019|  1|         3|madrugada|
|2019-01-01 00:16:23|2019-01-01 00:39:46|    23.383333333333333|2019|  1|         3|madrugada|
|2019-01-01 00:58:02|2019-01-01 01:19:02|                  21.0|2019|  1|         3|madrugada|
+-------------------+-------------------+----------------------+----+---+----------+---------+
only showing top 10 rows

In [55]:
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType

# Definimos una función en Python para convertir millas a kilómetros
def millas_a_kilometros(millas):
  return millas * 1.60934

# Registramos la función como una UDF de Spark
millas_a_kilometros_udf = udf(millas_a_kilometros, returnType=FloatType())

# Aplicamos la UDF a nuestro DataFrame
df_taxis = df_taxis.withColumn("distancia_km", millas_a_kilometros_udf(col("trip_distance")))

In [56]:
df_taxis \
.select(col("pickup_datetime_ts"), col("dropoff_datetime_ts"), col("distancia_km"), col("trip_distance")) \
.show(10)

+-------------------+-------------------+------------+-------------+
| pickup_datetime_ts|dropoff_datetime_ts|distancia_km|trip_distance|
+-------------------+-------------------+------------+-------------+
|2018-12-21 15:17:29|2018-12-21 15:18:57|         0.0|          0.0|
|2019-01-01 00:10:16|2019-01-01 00:16:32|   1.3840324|         0.86|
|2019-01-01 00:27:11|2019-01-01 00:31:38|   1.0621644|         0.66|
|2019-01-01 00:46:20|2019-01-01 01:04:54|    4.313031|         2.68|
|2019-01-01 00:19:06|2019-01-01 00:39:43|   7.2903104|         4.53|
|2019-01-01 00:12:35|2019-01-01 00:19:09|    1.689807|         1.05|
|2019-01-01 00:47:55|2019-01-01 01:00:01|   6.0672116|         3.77|
|2019-01-01 00:12:47|2019-01-01 00:30:50|    6.598294|          4.1|
|2019-01-01 00:16:23|2019-01-01 00:39:46|   12.472385|         7.75|
|2019-01-01 00:58:02|2019-01-01 01:19:02|   5.9223714|         3.68|
+-------------------+-------------------+------------+-------------+
only showing top 10 rows

In [44]:
# Registramos el DataFrame como una tabla temporal
df_taxis.createOrReplaceTempView("taxis")

# Usamos SQL para crear una nueva columna con la distancia en kilómetros
df_taxis = spark.sql("""
SELECT 
    pickup_datetime_ts, 
    dropoff_datetime_ts, 
    trip_distance, 
    trip_distance * 1.60934 AS distancia_km 
FROM taxis
""").show(10)

+-------------------+-------------------+-------------+------------------+
| pickup_datetime_ts|dropoff_datetime_ts|trip_distance|      distancia_km|
+-------------------+-------------------+-------------+------------------+
|2018-12-21 15:17:29|2018-12-21 15:18:57|          0.0|               0.0|
|2019-01-01 00:10:16|2019-01-01 00:16:32|         0.86|         1.3840324|
|2019-01-01 00:27:11|2019-01-01 00:31:38|         0.66|1.0621644000000001|
|2019-01-01 00:46:20|2019-01-01 01:04:54|         2.68|         4.3130312|
|2019-01-01 00:19:06|2019-01-01 00:39:43|         4.53|         7.2903102|
|2019-01-01 00:12:35|2019-01-01 00:19:09|         1.05|          1.689807|
|2019-01-01 00:47:55|2019-01-01 01:00:01|         3.77|         6.0672118|
|2019-01-01 00:12:47|2019-01-01 00:30:50|          4.1| 6.598293999999999|
|2019-01-01 00:16:23|2019-01-01 00:39:46|         7.75|         12.472385|
|2019-01-01 00:58:02|2019-01-01 01:19:02|         3.68| 5.922371200000001|
+-------------------+-------------------+-------------+------------------+
only showing top 10 rows